@model Coffee.Models.Nhanvien
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Login", "HomeAdmin", FormMethod.Post))
{
    <section class="mt-5">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong mt-5" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <h3 class="mb-5  text-center">Đăng nhập</h3>
                            <div class="form-outline mb-4">
                                <label class="control-label text-start">Tên đăng nhập</label>
                                <input asp-for="Username" class="form-control " required />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="control-label text-start">Mật khẩu</label>
                                <input asp-for="Matkhau" id="typePasswordX-2" class="form-control " required />
                            </div>
                            <div class="justify-content-center  text-center">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng nhập</button>
                            </div>
                            @if (ViewBag.loginCheck != null && (bool)ViewBag.loginCheck == false)
                            {
                                <div class="form-group">
                                    <div class="control-label col-md-12">
                                        <span class="font-weight-bold text-danger">
                                            Bạn nhập "Tên tài khoản" hay "Mật khẩu" bị sai!
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

