@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}
<div class="container text-center mt-3">
    <h1>About</h1>
    <p class="display-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit rem amet blanditiis odio minus eum exercitationem ab, dignissimos perspiciatis. Temporibus id deleniti totam porro, explicabo dolorum velit pariatur aut dicta!</p>
</div>

