@model IEnumerable<Coffee.Models.Sanpham>
@{
	Layout = "_Layout";
}
<div class="container"> 
	<div class="row"> 
		@foreach (var product in Model)
		{
			<div class="col-lg-3 col-md-4 col-sm-6 text-center"> 
				<div class="card mb-4">
					<img height="300" src="@Url.Action("GetImage", "Home", new { id = product.ProductId })" class="card-img-top" alt="@product.ProductName">
					<div class="card-body"> 
						<h5 class="card-title">@product.ProductName</h5>
						<p class="card-text">Giá cả: @string.Format("{0:N0} VNĐ", product.Price)</p>
					</div> 
				</div> 
			</div>
		}
	</div>
</div>