@model Coffee.Models.Sanpham
@using Coffee.DataContext;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    QlcfContext db = new QlcfContext();
    SelectList dsDanhMuc = new SelectList(db.Danhmucs.ToList(), "CategoryId", "CategoryName");
    SelectList dsKhuyenmai = new SelectList(db.Khuyenmais.ToList(), "PromotionId", "PromotionName");
}

<h1>Create</h1>

<h4>Sanpham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label"></label>
                <input asp-for="Hinhanh" type="file" accept="image/*" class="form-control" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="@dsDanhMuc">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PromotionId" class="control-label"></label>
                <select asp-for="PromotionId" class ="form-control" asp-items="@dsKhuyenmai">
                    <option value="">Không sử dụng</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

